body {
    display: grid;
    grid-template-columns: 18% 60% auto;
    grid-template-rows: auto 80% auto;
    gap: 20px;
    margin: 0px;
    background-color: #000000;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#navbar {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    display: flex;

}

#Sintlucas {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    margin: 30px auto auto 20%;

}

#Home {
    margin: 10px auto auto auto;

}

#AboutMe {
    margin: 10px auto;
}

#Skills {
    margin: 10px auto;
}

#Projecten {
    margin: 10px auto;
}

#Namenav {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    display: flex;
    margin: 10px 20px;
}

#Namenav a {
    color: aliceblue;
    font-size: 250%;
    font-family: "Madimi One";
    text-decoration: none;
    list-style: none;
}

#navbar a {
    color: aliceblue;
    font-size: 250%;
    font-family: "Madimi One";
    text-decoration: none;
    list-style: none;
}

#navbar :active {
    color: aqua;
}

#navbar :hover {
    color: aqua;
}

#Active a {
    color: aqua;
}

.text {
    margin: 15% auto auto auto;

    color: aliceblue;
    font-size: 600%;
    font-family: "Madimi One";
    text-align: center;
}

#nametext {
    grid-column: 2;
    grid-row: 2;
}

#mywebsite {
    margin: top -20%
}

/* About me */

#imgofme {
    grid-column: 1;
    grid-row: 2;
    margin: auto 30px auto auto;
    width: 300px;

}